@model CountryViewModel
@{ 
    bool Active(string Current, string TrueActive)
    {
        if (Current.ToLower().Equals(TrueActive.ToLower()))
        {
            return true;
        }
        return false;
    }
}

<style>
    .contain{
        position: absolute;
        left: 15rem;
        right: auto
    }
    button{
        fit
    }
</style>
<nav style="margin-bottom:90%; top: 0rem" class="float-left position-fixed">
    <ul class="list-group mr-5 mt-5">
        @foreach (Game game in ViewBag.Games)
        {
            bool active = Active(game.GameName, ViewBag.ActiveGame);
            <li class="list-group-item @(active ? "active" : "")">
                <form asp-action="Home" method="post">
                    <button type="submit" class="btn btn-block text-left @(active ? "btn-primary" : "btn-light")">@game.GameName</button>
                    <input type="hidden" asp-for="@Model.game.GameName" value="@game.GameName" />
                    <input type="hidden" asp-for="@Model.category.CategoryName" value="@ViewBag.ActiveCategory" />
                </form>
            </li>
        }
    </ul>
    <ul class="list-group mr-5 mt-5">
        @foreach (Category cat in ViewBag.Categories)
        {
        bool active = Active(cat.CategoryName, ViewBag.ActiveCategory);
        <li class="list-group-item @(active ? "active" : "")">
            <form asp-action="Home" method="post">
                <button type="submit" class="btn btn-block text-left @(active ? "btn-primary" : "btn-light")" >@cat.CategoryName</button>
                <input type="hidden" asp-for="@Model.game.GameName" value="@ViewBag.ActiveGame" />
                <input type="hidden" asp-for="@Model.category.CategoryName" value="@cat.CategoryName" />
            </form>
        </li>
        }
    </ul>
</nav>
<div style="background-color: aquamarine"class="contain mt-5">
    @foreach (Country country in Model.Countries)
    {
        <a asp-action="Detail" data="country" asp-route-countryname="@country.CountryName" >
            <img class="m-3 " src="@Url.Content(country.FlagPath)"
                    data-toggle="tooltip" title="@country.CountryName | @country.Game.GameName @country.Sport.Category.CategoryName" />
        </a>
    }
</div>
