@model List<Country>
@{ 
    bool Active(string Current, string TrueActive)
    {
        if (Current.ToLower().Equals(TrueActive.ToLower()))
        {
            return true;
        }
        return false;
    }
}

<style>
    .contain{
        position: absolute;
        left: 15rem;
        right: auto
    }
</style>
<nav style="margin-bottom:90%; top: 0rem" class="float-left position-fixed">
    <ul class="list-group mr-5 mt-5">
        @foreach (Game game in ViewBag.Games)
        {
        bool active = Active(game.GameName, ViewBag.ActiveGame);
        <li class="list-group-item @(active ? "active" : "")">
            <a class="@(active ? "text-light" : "text-dark")" asp-route-game="@game.GameName" asp-route-category="@ViewBag.ActiveCategory">@game.GameName</a>
        </li>
        }
    </ul>
    <ul class="list-group mr-5 mt-5">
        @foreach (Category cat in ViewBag.Categories)
        {
        bool active = Active(cat.CategoryName, ViewBag.ActiveCategory);
        <li class="list-group-item @(active ? "active" : "")">
            <a class="@(active ? "text-light" : "text-dark")" asp-route-category="@cat.CategoryName" asp-route-game="@ViewBag.ActiveGame">@cat.CategoryName</a>
        </li>
        }
    </ul>
</nav>
<div style="background-color: aquamarine"class="contain mt-5">
    @foreach (Country country in Model)
    {
        <a asp-action="Detail" data="country" asp-route-countryname="@country.CountryName" >
            <img class="m-3 " src="@Url.Content(country.FlagPath)"
                    data-toggle="tooltip" title="@country.CountryName | @country.Game.GameName @country.Sport.Category.CategoryName" />
        </a>
    }
</div>
